@charset "UTF-8";

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-size: 15px;
    font-style: normal;
}

@font-face {
    font-family: Lex;
    src: url(../fonts/LexendDeca-VariableFont_wght.ttf) format('truetype');
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

:root{
    --FundoMain: hsl(233, 47%, 7%);
    --FundoCard: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Parargafo: hsla(0, 0%, 100%, 0.75);
    --Componentes: hsla(0, 0%, 100%, 0.6);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--FundoMain);
}

.mobile-img{
    display: none;
    border-radius: 10px 10px 0 0;
}

.desktop-img{
    display: block;
    border-radius: 0 10px 10px 0;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: var(--FundoCard);
    width: 1080px;
    border-radius: 10px;
    justify-content: space-between;
    margin-inline: 20px;
    transition: 0.5s ease-in-out;
}

.imagem{
    position: relative;
}

.purple{
    position: absolute;
    background-color: hsla(277, 73%, 28%, 0.548);
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.text{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

h1{
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
}

h1 span{
    color: var(--SoftViolet);
}

.info p{
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--Parargafo);
    line-height: 1.5rem;
}

.box{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.components h2{
    color: var(--White);
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.components p{
    color: var(--Parargafo);
    font-family: Lex;
    font-size: 0.75rem;
    letter-spacing: 1px;
    padding-top: 5px;
}

@media screen and (max-width: 1080px) {
    
    body{
        height: 100%;
    }

    .container{
        flex-direction: column-reverse;
        width: 380px;

    }

    .mobile-img{
        display: block;
        width: 100%;

    }
    
    .desktop-img{
        display: none;
    }

    .purple{
        border-radius: 10px 10px 0 0;
    }

    .text{
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        padding-bottom: 50px;
    }

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 60px;
    }

    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

}







